<!DOCTYPE html>
<html>
    <head>
        <title>Yet Another OpenPGP KeyServer</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Frank Ruan's OpenPGP KeyServer</h2>
        <h4>This site is Frank Ruan's OpenPGP KeyServer written in Python with Flask. <strong>It is not compatible with GPG nor PGP the program itself.</strong></h4>
        <h4>I cannot find any useful information about the protocol which GPG uses (aka. HKP(S)), thus I cannot make a backwards compatible server.</h4>
        <h4>Contact me if you have found the detailed specifications about HTTP Key Protocol.</h4>
        <hr>
        <p>To use this keyserver, you will need to use our home-made script written in Python. (Prebuilt binary by PyInstaller is available)</p>
        <a href="https://github.com/orange2008/YetAnotherOpenPGPKeyServer">https://github.com/orange2008/YetAnotherOpenPGPKeyServer</a>
        <p>Clone the entire repo and you will find the <pre>yapks_client</pre> file in it. Download it and move it to your binary path.</p>
        <p>Alternatively, you can use the Releases, which is prebuilt.</p>
    </body>
</html>